/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.my-container{
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
.my-container1{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
#link:hover{
  color: #fff;
}
#word{
 margin-top: 10px;
}
input[type=text]:not(.browser-default){
  border: 1px solid #88D5E9;
}
/* input[type=text]:not(.browser-default):hover:not([readonly]){
          -moz-box-shadow: 0 0 8px #88D5E9;
   -webkit-box-shadow: 0 0 8px #88D5E9;
   box-shadow: 0 0 8px #88D5E9;
   border: 1px solid #88D5E9;
} */